<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JU Canteen</title>
    <link rel="stylesheet" href="/css/signup.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:ital,wght@0,500;1,400;1,600&family=Special+Elite&family=VT323&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:ital,wght@0,500;1,400;1,600&family=Radley&family=Special+Elite&family=VT323&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/53432dac39.js" crossorigin="anonymous"></script>
    
</head>
 
<body>
    <%- include("./includes/header.ejs") %>
    <%- body %>

    <%- include("./includes/footer.ejs") %>
    <script src="/javascript/canteen.js"></script>
    <script src="/javascript/passwordeye.js"></script>
    <script>
        function valiadte_password()
       {
           var pass=document.getElementById('password').value;
           var confirm_pass=document.getElementById('confirmpassword').value;
           console.log(pass,confirm_pass);
           if (pass ==null | confirm_pass==null | pass!=confirm_pass) {
               document.getElementById('wrong_pass_alert').style.color = 'red';
               document.getElementById('wrong_pass_alert').innerHTML
                   = '☒ Use same password';
               document.getElementsByClassName('btn center')[0].disabled = true;
           }
           if(pass==confirm_pass)
           {
               document.getElementById('wrong_pass_alert').style.color='green';
               document.getElementById('wrong_pass_alert').innerHTML='🗹 Password Matched';
               document.getElementsByClassName('btn center')[0].disabled=false;
           }
       }
   </script>
</body>

</html>