<!DOCTYPE html >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JU Canteen</title>
    <link rel="stylesheet" href="/css/ahar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:ital,wght@0,500;1,400;1,600&family=Special+Elite&family=VT323&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:ital,wght@0,500;1,400;1,600&family=Radley&family=Special+Elite&family=VT323&display=swap"
        rel="stylesheet">

        <script src="https://cdn.tailwindcss.com"></script>
    
</head>
 
<body class="grid grid-rows-[24fr,1fr] md:grid-rows-[16fr,1fr] lg:grid-rows-[10fr,1fr] h-[100svh] overflow-none">
    <%- include("./includes/header.ejs") %>
    <%- body %>

    <%- include("./includes/footer.ejs") %>
    <script src="/javascript/canteen.js"></script>
</body>

</html>