<footer class="mt-auto">
    <div class="info">
        <p>
            We value your privacy. Please take a moment to review our <a href="#">Privacy Policy</a> to understand how we collect, use, and safeguard your personal information.
        </p>
        <p class="copy">
            &copy; 2023 Jadavpur University Canteens. All rights reserved.
        </p>
    </div>
</footer>