<header >
    <a href="#" class="logo"><i class="fa-solid fa-utensils"></i> JU CANTEENS</a>

    <nav class="navbar">
        <a class="active" href="/canteens">Home</a>
        <a href="/login">Login</a>
        <a href="#about us">About Us</a>
        <a href="#contact us">Contact Us</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="bars"></i>
    </div>
    <% if(success) {%>
    <span class="flash_msg"><%= success %></span>
    <% } 
    console.log(success)
    %>

</header>

