<%- layout("/_layouts/boilerpalte_canteens.ejs") %>
<link rel="stylesheet" href="/css/error.css">

<main>
    <section>
        <h1><%= status %></h1>
        <h1><%= message %></h1>
    </section>
</main>