:root{
    --green:#27ae60;
    --black: rgb(50, 14, 14);
    --light-color:#666;
    --box-shadow: 0.1rem 0.1rem rgb(207, 193, 193);
}

*{
    font-family: 'Nunito Sans', sans-serif;;
    text-decoration: none;
    border: none;
    margin:0;
    padding:0;
    outline: none;
    text-transform: capitalize;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding: 1rem 7%;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
}

header .navbar a{
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 1.1rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: white;
    background-color: green;
}

header .logo{
    color: var(--black);
    font-size: 1.2rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--green);
}

header .icons i,
header .icons a{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    color: var(--black);
    background: #eee;
    text-align: center;
}

header .icons i:hover,
header .icons a:hover{
    color:#eee;
    background: var(--green);
    transform: rotate(360deg);
}

