<%- layout("/_layouts/boilerpalte_login.ejs") %>

    <section class="main">
        <div class="intro">
        <h1>Login to JU Canteens</h1>
        </div>

        <div id="contact-box">
            <form action="noaction.php">
                <div class="form-group">
                    <label for="name">Name/Email: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name/email">
                </div>
                <div class="form-group">
                    <label for="name">Password: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your password">
                </div>
                <div class="links">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="links">
                    <p>Don't have an Account yet? <a href="/signup">Create an Account</a></p>
                </div>
                <div class="sec">
                    <button class="btn center">Login</button>
                </div>
            </form>
            

        </div>

       
        
    </section>

    
