
<% layout("/_layouts/boilerpalte_canteens.ejs") %>


    <section class="dishes" id="dishes">
        <h3 class="sub-heading">Welcome To</h3>
        <h1 class="heading">Ahar Canteen</h1>

        <div class="para">
            <p>The Ahar Canteen at Jadavpur University offers a vibrant culinary haven for students. With a diverse menu ranging from local delights to continental treats, it caters to various palates. Its budget-friendly prices and lively ambiance make it a cherished hub for culinary exploration and social interaction.</p>
        </div>

        <%- include("../_layouts/includes/menu.ejs") %>
    </section>

    <div class="load-container">
        <img src="/extra/pizza-3844_256.gif">
    </div>

 