<!-- https://www.telegraphindia.com/west-bengal/camping-in-canteens/cid/1267819 -->
<% layout("/_layouts/boilerpalte_canteens.ejs") %>
<% block('head').append('<link rel="stylesheet" href="/css/ahar.css">') %>

    <section class="dishes" id="dishes">
        <h3 class="sub-heading"> Welcome To</h3>
        <h1 class="heading"> CET Canteen</h1>
        <div class="para">
            <p>
                Officially called Laltu Das' canteen. Was established in 1965.It is a privately run Canteen as old as the University itself. Situated at the very main gate, it's a resting-place for early-comers and late goers. Old boys always carry a nostalgic feeling for the place. Menu: Fried rice, Biryani, Dosa. Must have: Chilli potato &#x1F60B
            </p>
        </div>
        <!-- <p class="para"></p> -->
        <%- include("../_layouts/includes/menu.ejs") %>

    </section>

    <div class="load-container">
        <img src="/extra/pizza-3844_256.gif">
    </div>
