<% layout("/_layouts/boilerpalte_canteens.ejs") %>
<% block('head').append('<link rel="stylesheet" href="/css/ahar.css">') %>

    <section class="dishes" id="dishes">
        <h3 class="sub-heading"> Jadavpur University </h3>
        <h1 class="heading"> Canteens </h1>

        <div class="box-container">
            <div class="box">
                <a href="/canteens/ahar"><img src="/extra/abc.png"></a>
                <h3>Ahar Canteen</h3>
            </div>
            <div class="box">
                <a href="/canteens/Milandar"><img src="/extra/abc.png"></a>
                <h3>Milandar Canteen</h3>
            </div>
            <div class="box">
                <a href="/canteens/suruchi"><img src="/extra/abc.png"></a>
                <h3>Suruchi Canteen</h3>
            </div>
            <div class="box">
                <a href="/canteens/cet"><img src="/extra/abc.png"></a>
                <h3>CET Canteen</h3>
            </div>
        </div>>
    </section>

    <div class="load-container">
        <img src="/extra/pizza-3844_256.gif">
    </div>



