<% layout("/_layouts/boilerpalte_canteens.ejs") %>

 

        <div class="icons">
            <i class="fas fa-bars" id="bars"></i>
        </div>
    </header>

    <section class="dishes" id="dishes">
        <h3 class="sub-heading"> Jadavpur University </h3>
        <h1 class="heading"> Milanda Canteen </h1>
        <div class="para">
            <p>
                Milanda's Canteen in Jadavpur University is a vibrant hub where delicious food and 
            warm conversations come together. With its diverse menu and friendly atmosphere, 
            it's a cherished spot for students to refuel and connect, 
            making it an integral part of the university experience. Hope you liked the delicacies, get your fingers busy for some
        goodies and dont forget to review. &#127828
            </p>
        </div>

        <%- include("../_layouts/includes/menu.ejs") %>

    </section>

    <div class="load-container">
        <img src="/extra/pizza-3844_256.gif">
    </div>

    
