<% layout("/_layouts/boilerpalte_canteens.ejs") %>


    <section class="dishes" id="dishes">
        <h3 class="sub-heading"> Welcome To </h3>
        <h1 class="heading">Suruchi Canteen</h1>
        <div class="para">
            <p>Jadavpur University's Suruchi Canteen is a popular hub for students and staff.  It offers a cozy and inviting space to savor meals, catch up with friends, and unwind. It's a favored spot on campus, providing comfort and refreshment to the university community. Food prices are such that poor people can also afford that. So what are you waiting for!! Dive in here &#x1F60B</p>
        </div>

        <%- include("../_layouts/includes/menu.ejs") %>

    </section>

    <div class="load-container">
        <img src="pizza-3844_256.gif">
    </div>

